/* CSS RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

html {
    line-height: 1.5;
}

body {
    background-color: rgb(35, 33, 34);
    color: rgb(226, 226, 226);
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    min-height: 100vh;
    margin-top: 7vh;
    padding: 0;
}
/* CSS RESET */

/* HEADER SEKSJON */
.primary-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(50, 50, 50); 
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.header-nav-bar {
    display: flex;
    align-items: center;
    /* background-color: rgba(239, 20, 20, 0); */
    width: 100%; 
}

#logo {
    height: 7vh;
}

.logo-link {
    text-decoration: none;
}

.hdr-nav-ul {
    display: flex;
    gap: 3rem;
    padding: 0;
    list-style: none;
    margin-left: 2%;
}

.hdr-nav-ul a {
    text-decoration: none;
    letter-spacing: .1rem;
    color: rgb(153, 153, 153)
}

.pagebuttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#homeIcon {
    width: 25px;
    margin-bottom: 4px;
}

#genreIcon {
    width: 28px;
    margin-bottom: 1px;
}

#moviesIcon {
    width: 25px;
    margin-bottom:4px;
}

#tvIcon {
    width: 30px;

}

.hdr-nav-ul a:hover {
    text-decoration: underline;
}
 
.search-container {
    position: relative;
  }

.search-container input[type="text"] {
    padding: 8px 30px 8px 10px;
    border: 1px solid rgb(35, 35, 35);
    border-radius: 4px;
    width: 14vw;
    height: 4vh;
    background-color: rgb(35, 35, 35);
    color: white; 
    font-size: 1rem;
  }

.search-form {
    margin-left: 52%;
    display: flex;
    align-items: center;
}
  
  
/* Style for the search button */
.search-container button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 10px;
    border: none;
    background: transparent;
    cursor: pointer;
  }

#search-icon {
    filter: brightness(0.8);
    height: 30px;
    transition: filter 0.3s ease; 
}
.search-container button:hover #search-icon {
    filter: brightness(1); 
  }

  /* HEADER  */


  /* MAIN  */

#main-content-container {
    display: flex;
    flex-direction: row;
    height: 1200px;
    width: 100%;
    background-color: rgba(0, 0, 255, 0);
}

.movies-container {
    display: flex;
    width: 83%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: column;

}

#right-container {
    background-color: rgb(29, 27, 28);
    width: 17%;
    position: fixed;
    height: 100%;
    right: 0;
    border: 1px solid rgb(50, 50, 50); 
}

#main-img {
    width: 100%;
    /* background-color: rgb(0, 128, 0); */
    background-image: url(../images/pirates\ banner.jpg);
    background-size: cover;
    height: 55vh;
    display: flex;
    align-items: end;
}

#textbox {
    background-color: rgba(32, 32, 32, 0.814);
    width: 30vw;
    height: 9vh;
    margin-bottom: 40px;
    margin-left: 5vw;
}

.divider {
    height: 80px;
    display: flex;
    align-items: end;
    margin-left: 50px;
    font-size: 1.2rem;
    text-decoration: underline;
    text-decoration-color:rgb(255, 163, 26);
    text-decoration-thickness: 2px; 
    text-decoration-style: solid;
    text-underline-offset: 10px;
}


#card-container {
    /* background-color: yellow; */
    padding: 30px;
    display: flex;
    width: 100%;
    height: 400px;
    gap: 15px;
    /* flex-wrap: wrap; */
}

.card {
    background-color: #ff1212;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 180px;
    height: 245px;
  }

#movie-title {
    font-size: 18px;
    margin-bottom: 5px;
}

#movie-rating {
    font-size: 14px;
    color: #e4e4e4;
}

/* MAIN */

/* FOOTER */
.primary-footer {
    display: flex;
    min-height: 10rem;
    border-top: 1px solid hsla(260, 100%, 97%, 0.415);
    background-color: var(--clr-txt);
}

.ftr-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-block: 3rem;
    color: var(--clr-txt-light);
}

#mainP-footer {
    width: 80%;
}

